<h1>Posts Search</h1>

<%= form_for search_path, method: :get do |f| %>
 <p>
  <%= f.label "Search for" %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Go", name: nil %>
 </p>
<% end %>

<ul>
 <% @pages.each do |article| %>
  <li>
   <h3>
    <%= link_to page.document, controller: "pages", action: "show", id: post._id%>
   </h3>
  </li>
 <% end %>
</ul>
