<div class=" h-screen  bg-no-repeat background-homepage ">
  <nav class=" flex items-center justify-between flex-wrap bg-transparent-500 p-6">
    <div class="flex items-center flex-shrink-0 text-gray-100 mr-6">
      <span class="font-semibold text-xl tracking-tight">BuddyDocs</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white" onclick="toggle()">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div id="menu" class="hidden w-full lg:flex lg:items-center lg:w-auto">
      <div class="text-sm">
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-teal-200 mr-4">
          Notre identié
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-teal-200 mr-4">
          La sécurité, notre enjeu
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-teal-200 mr-4">
          Blog
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-teal-200">
          Contact
        </a>
      </div>

    </div>
  </nav>
  <div class="flex mt-16 lg:mt-0 lg:items-center justify-center h-full">
    <div class="flex flex-col justify-center m-2 ml-4 h-40v lg:mb-32">
      <div class=" text-3xl lg:text-5xl mb-2 pb-4 font-bold  text-gray-100">
        BuddyDocs pour tout les docs
      </div>
      <p class="mt-4  pb-4 max-w-2xl text-xl text-turquoise-400">
        Lorsqu’on doit classer nos documents (pro/perso) et pire encore les trouver quand on en a besoin : on a la flemme, on ne sait pas quels documents fournir, on ne sait pas où il sont rangés, on a perdu le mot de passe du site… et on finit par remettre au lendemain. Fini la procrastination avec BuddyDocs !
      </p>
      <div class="my-4">
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn hover:bg-blue-400" %>
        <%= link_to "Se connecter", new_user_session_path, class: "btn hover:bg-blue-400" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
    <div>
      <%= image_tag  "homepage/homepage1.png", class:'hidden h-40v ml-10 lg:block lg:mb-32 "'%>
    </div>
  </div>

</div>

<div class="background-2">
  <div class="h-screen">
    <h1 class="text-center text-3xl lg:text-5xl text-bluee-400 mt-4 mb-4 pb-4 font-bold ">Qui sommes-nous?</h1>
    <div class="flex items-center justify-center  h-full">
      <div>
        <%= image_tag  "homepage/homepage2.png", class: 'h-40v hidden lg:block'%>
      </div>
      <div class="flex flex-col justify-center  m-2 ml-4 lg:ml-32 h-40v">
        <h2 class="title-homepage-h2  font-cursive  sm:text-3xl sm:leading-9 sm:truncate">Un coffre fort 100% sécurisé</h2>
        <h3 class="title-homepage-h3 font-assistant sm:text-2xl sm:leading-9 sm:truncate">Seul vous avez la main sur vos docs</h3>
        <p class="mt-4 max-w-2xl text-xl leading-7 text-grayy-400">Vous pouvez vous connecter à vos applications habituelles grâce à notre application et voir les document s’ajouter automatiquement chaque mois.
          Si une facture papier tombe entre vos main, notre application mobile se fera un plaisir de s’en charger. </p>
      </div>
    </div>
  </div>

  <div class=" h-screen">
    <div class="flex items-center justify-center  h-full">
      <div class="flex flex-col justify-center  m-2 ml-4 lg:mr-32 h-40v">
        <h2 class="title-homepage-h2  font-cursive sm:text-3xl sm:leading-9 sm:truncate">Un agrégateur automatique</h2>
        <h3 class="title-homepage-h3  font-assistant sm:text-2xl sm:leading-9 sm:truncate">On récupère vos docs pour vous</h3>
        <p class="mt-4 max-w-2xl text-xl leading-7 text-grayy-400">Vous pouvez vous connecter à vos applications habituelles grâce à notre application et voir les document s’ajouter automatiquement chaque mois.
          Si une facture papier tombe entre vos main, notre application mobile se fera un plaisir de s’en charger. </p>
      </div>
      <div>
        <%= image_tag  "homepage/homepage3.png" , class:'h-40v hidden lg:block'%>
      </div>
    </div>
  </div>

  <div class="h-screen">
    <div class="flex items-center justify-center  h-full">
      <div>
        <%= image_tag  "homepage/homepage4.png", class:'h-40v hidden lg:block'%>
      </div>
      <div class="flex flex-col justify-center h-40v  m-2 ml-4 lg:ml-32">
        <h2 class="title-homepage-h2  font-cursive sm:text-3xl sm:leading-9 sm:truncate">Un buddy administratif</h2>
        <h3 class="title-homepage-h3  font-assistant sm:text-2xl sm:leading-9 sm:truncate">On génère vos dossiers administratifs</h3>
        <p class="mt-4 max-w-2xl text-xl leading-7 text-grayy-400">According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.</p>
      </div>
    </div>
  </div>
</div>

<div class="background-3">
  <div class=" h-screen">
    <div class="flex items-center justify-center  h-full">
      <div>
        <%= image_tag  "homepage/homepage5.png", class:'h-60v hidden lg:block '%>
      </div>
      <div class=" flex flex-col justify-center h-40v  m-2 ml-4 lg:ml-16">
        <h2 class="title-homepage-h2 font-cursive sm:text-3xl sm:leading-9 sm:truncate">L’application mobile BuddyDocs</h2>
        <p class="mt-4 max-w-2xl text-xl leading-7 text-turquoise-500">Pour ajouter des document grâce à une photo, par mail ou par scan, n’hésitez pas à télécharger notre application. Centralisez vos documents nous vous aura jamais paru aussi simple !
        </p>
        <div class="inline">
          <button>download</button>
          <button>download</button>
        </div>
      </div>
    </div>
  </div>

  <div class="h-screen">
    <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-900">Notre souhait est de développer un service qui joue à la fois le rôle de Coffre-Fort Numérique et celui d’Assistant Personnel Administratif pour répondre à toutes ces questions et vous proposer des services.</p>
    <span>facebook</span>
    <span>twitter</span>
    <span>linkedin</span>
    <button>About us</button>
    <button>Contact</button>
    <button>FAQ</button>
  </div>
</div>

<script>
  const menu = document.getElementById('menu');
  const toggle = () => menu.classList.toggle("hidden");
</script>
