<h1>Pages#index</h1>

<%= form_for pages_path, method: :get, html: {class: 'w-full flex justify-between border border-solid p-1 rounded-full'} do |f| %>
  <%= text_field_tag :query, params[:query], class: 'appearance-none bg-transparent border-none w-full ml-3 py-1 px-2 leading-tight focus:outline-none' %>
  <%= submit_tag "Search", class: 'bg-indigo-500 hover:bg-indigo-600 rounded-full p-3 text-white' %>
<% end %>


<div class="grid grid-cols-3 grid-flow-row gap-4">
  <% @pages.each do |page| %>
    <div class="overflow-scroll h-64">
      <%=  %>
      <h3><%= page.document.name %></h3>
      <%= cl_image_tag page.photo.key, alt: "alttext" %>
      <p><%= page.content %></p>
    </div>
  <% end %>
</div>
